.round-corners {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 5;
}

.slight-round-corners {
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.mfx-text-field {
    /*-fx-border-color: #1F0DDE;*/
    -fx-border-color: #be9117;
}

.mfx-text-field .floating-text {
    -fx-text-fill: #0904B0;
}

.main-button {
    -fx-background-color: #1F0DDE;
    -fx-text-fill: white;
}

.main-button:hover {
    -fx-background-color: #5D44F1;
}

.white-button {
    -fx-background-color: white;
    -fx-text-fill: #0904B0
}

.vibrant-background {
    -fx-background-color: #1F0DDE;
    -fx-text-fill: white;
}

.white-background {
    -fx-background-color: white;
    -fx-text-fill: #0904B0
}

.success-label {

}

.danger-label {
    -fx-background-color: #d0210d;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #a61c0c;
}

.main-text {
    -fx-text-fill: #0904B0
}

.base-text-field {
    /*-fx-border-color: #11ffff;*/

}