@import "colors.css";

.round-corners {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 5;
}

.slight-round-corners {
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.header {
    -fx-background-color: #0995A1;
}

.header-name {
    -fx-text-fill: white;
}

.header-linker {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.mfx-text-field {
    -mfx-purple: white;
}

.mfx-text-field:default {
    -fx-border-color: -main-color;
    /*-fx-border-color: #be9117;*/
}

.mfx-text-field:focused {
    -fx-border-color: -main-color;
    /*-fx-border-color: #be9117;*/
}

.mfx-text-field:armed {
    -fx-border-color: -main-color;
    /*-fx-border-color: #be9117;*/
}

.mfx-text-field:hover {
    -fx-border-color: -secondary-color;
    /*-fx-border-color: #be9117;*/
}

.mfx-text-field:focused .floating-text {
    -fx-text-fill: #085d5f;
}

.main-button {
    -fx-background-color: -main-color;
    -fx-text-fill: white;
}

.main-button:hover {
    -fx-background-color: #08a9bb;
}

.white-button {
    -fx-background-color: white;
    -fx-text-fill: #085d5f
}

.white-button:hover {
    -fx-background-color: #e0f7f9;

}

.secondary-button {
    -fx-background-color: #e2eff1;
    -fx-text-fill: #074a4b
}

.secondary-button:hover {
    -fx-background-color: #cdeaec;
}

.mfx-toggle-button {
    -mfx-main: -main-color;
    /*-mfx-secondary: #a10994;*/
}

.mfx-checkbox {
    -mfx-main: -main-color;
}

.mfx-checkbox:hover {
    -fx-border-color: -secondary-color;
}

.mfx-checkbox .mfx-ripple-generator{
    -mfx-ripple-color: -main-color;
}

.vibrant-background {
    -fx-background-color: #0995A1;
    -fx-text-fill: white;
}

.white-background {
    -fx-background-color: F3F3F3;
    -fx-text-fill: #0904B0
}

.success-label {

}

.danger-label {
    -fx-background-color: #d0210d;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #a61c0c;
}

.main-text {
    -fx-text-fill: #0904B0
}

.base-text-field {
    /*-fx-border-color: #11ffff;*/

}

.cart-item {
    -fx-border-color: #085d5f;
    -fx-border-width: 2;

}